html{
  font-family: Arial;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #433b33;
  overflow-x: hidden;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.2.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-rub:before {
  content: "\f158";
}

body{
  overflow: hidden;
  background: #ecebe2;
}
strong{
  font-weight: bold;
}
p{
    padding: 7px 0;
} 

input[type=text]{
  color: #786e55;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
::-webkit-input-placeholder {
   color: #786e55;
}
:-moz-placeholder {
   color: #786e55;
}
::-moz-placeholder {
   color: #786e55;
}
:-ms-input-placeholder {
   color: #786e55;
}
h2{
  font-size: 36px;
  font-weight: 300;
  text-align: center;
  line-height: 45px;
}
.button{
  -moz-border-radius: 4px / 3px 3px 3px 3px;
  -webkit-border-radius: 4px / 3px 3px 3px 3px;
  border-radius: 4px / 3px 3px 3px 3px;
  background-color: #ffc500;
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.41), inset 0 1px 0 rgba(237,248,148,.59);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.41), inset 0 1px 0 rgba(237,248,148,.59);
  box-shadow: 0 1px 1px rgba(0,0,0,.41), inset 0 1px 0 rgba(237,248,148,.59);
  outline: none;
  border: none;
  margin: 0 auto;
  display: block;
  color: #273a38;
  font-size: 16px;
  text-shadow: 0 1px 0 rgba(255,245,0,.67);
  background-image: -moz-linear-gradient(bottom, rgba(153,71,16,.15) 0%, rgba(153,71,16,.15) 5.18%, rgba(255,255,255,.15) 100%);
  background-image: -o-linear-gradient(bottom, rgba(153,71,16,.15) 0%, rgba(153,71,16,.15) 5.18%, rgba(255,255,255,.15) 100%);
  background-image: -webkit-linear-gradient(bottom, rgba(153,71,16,.15) 0%, rgba(153,71,16,.15) 5.18%, rgba(255,255,255,.15) 100%);
  background-image: linear-gradient(bottom, rgba(153,71,16,.15) 0%, rgba(153,71,16,.15) 5.18%, rgba(255,255,255,.15) 100%);
}
.button:hover{
  background-color: #ffde00;
  background-image: -moz-linear-gradient(bottom, rgba(153,71,16,.15) 0%, rgba(153,71,16,.15) 5.18%, rgba(255,255,255,.15) 100%);
  background-image: -o-linear-gradient(bottom, rgba(153,71,16,.15) 0%, rgba(153,71,16,.15) 5.18%, rgba(255,255,255,.15) 100%);
  background-image: -webkit-linear-gradient(bottom, rgba(153,71,16,.15) 0%, rgba(153,71,16,.15) 5.18%, rgba(255,255,255,.15) 100%);
  background-image: linear-gradient(bottom, rgba(153,71,16,.15) 0%, rgba(153,71,16,.15) 5.18%, rgba(255,255,255,.15) 100%);
}
.button:active{
  background-color: #f5b200;
  -moz-box-shadow: inset 0 2px 1px rgba(170,127,0,.59);
  -webkit-box-shadow: inset 0 2px 1px rgba(170,127,0,.59);
  box-shadow: inset 0 2px 1px rgba(170,127,0,.59);
  background-image: -moz-linear-gradient(bottom, rgba(153,71,16,.1) 0%, rgba(153,71,16,.1) 5.18%, rgba(255,255,255,.1) 100%);
  background-image: -o-linear-gradient(bottom, rgba(153,71,16,.1) 0%, rgba(153,71,16,.1) 5.18%, rgba(255,255,255,.1) 100%);
  background-image: -webkit-linear-gradient(bottom, rgba(153,71,16,.1) 0%, rgba(153,71,16,.1) 5.18%, rgba(255,255,255,.1) 100%);
  background-image: linear-gradient(bottom, rgba(153,71,16,.1) 0%, rgba(153,71,16,.1) 5.18%, rgba(255,255,255,.1) 100%);
}
.justify{
  text-align: justify;
}
.justify:after {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;
}
.break{
  clear: both;
}
.content{
  position: relative;
  z-index: 20;
}
.header{
  height: 209px;
  position: relative;
  background: url('../img/headerbg.jpg') repeat-x;
}
.wrapper{
  position: relative;
  width: 1000px;
  height: 100%;
  margin: 0 auto;
}
.logo{
  background: url('../img/logo.png') no-repeat;
  width: 242px;
  height: 178px;
  position: absolute;
  left: 0px;
  display: block;
  top: 13px;
}
.header .adr{
  position: absolute;
  top: 56px;
  left: 406px;
  text-align: center;
}
.header .adr span{
  display: block;
  color: #fff;
  text-shadow: 0px 1px 1px rgba(11, 63, 78, 0.68);
  -moz-text-shadow: 0px 1px 1px rgba(11, 63, 78, 0.68);
  -webkit-text-shadow: 0px 1px 1px rgba(11, 63, 78, 0.68);
}
.header .adr .locality{
  font-size: 26px;
}
.header .adr .metro{
  font-size: 16px;
  font-weight: 600;
  line-height: 40px;
  background: url('../img/metro.png') no-repeat 28px 11px;
}
.header .adr .street-address{
  font-size: 16px;
  font-weight: 600;
  line-height: 9px;
}
.header .contact{
  position: absolute;
  top: 59px;
  right: 0px;
}
.header .contact span{
  display: block;
}
.header .contact a{
  display: block;
  width: 186px;
  height: 42px;
  background: url('../img/headerbtn.png') no-repeat;
  color: #0d545f;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  line-height: 39px;
  font-family: 'Roboto', sans-serif;
  margin-top: 8px;
}
.header .contact span{
  color: #fff;
}
.header .contact .tel{
  font-size: 21px;
  font-weight: 600;
}
.header .contact .workhours{
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 16px;
}
.headerfix.fixed{
  position: fixed;
  top: 0px;
  z-index: 9999;
  width: 100%;
}
.menu{
  background: url('../img/menubg.png') repeat-x;
  height: 42px;
  position: relative;
  z-index: 2;
}
.menu ul{
  margin: 0 auto;
  width: 700px;
}
.menu ul li{
  float: left; 
}
.menu ul li a{
  display: block;
  height: 41px;
  line-height: 41px;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0px 1px 1px rgba(21, 118, 109, 1);
  -moz-text-shadow: 0px 1px 1px rgba(21, 118, 109, 1);
  -webkit-text-shadow: 0px 1px 1px rgba(21, 118, 109, 1);
}
.menu ul li a:hover{
  background: #47a1a9;
}
.menu ul li a.active{
  background: #20849a;
}
.dlya{
  border-top:3px solid #b8bfbf;
  height: 499px;
  background: #ad9d9d url('../img/bgpartner.jpg') bottom center repeat-x;
}

.dlya ul{
  text-align: justify;
}

.dlya ul li{
  display: inline-block;
  width: 150px;
  height: 80px;
  -moz-box-shadow: 0 2px 3px rgba(149,136,122,.57), inset 0 1px 1px #fff;
  -webkit-box-shadow: 0 2px 3px rgba(149,136,122,.57), inset 0 1px 1px #fff;
  box-shadow: 0 2px 3px rgba(149,136,122,.57), inset 0 1px 1px #fff;
  margin: 0px 0px 20px 0px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.dlya ul li img{
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  opacity: .84;
}
.dlya ul:after {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;
}
.footer{
  height: 277px;
  border-top: 5px solid #ad9e9d;
  background: url('../img/footerbg.jpg');
  position: relative;
}
.footer .lblock{
  width: 169px;
  padding: 46px 0px 0px 0px;
}
.footer .lblock span{
  color: #9fedbf;
  font-size: 13px;
  text-shadow: 0 1px 1px rgba(0,0,0,.43);
  display: block;
  text-align: center;
  line-height: 20px;
}
.footer .lblock .inn{
  padding: 9px 0px 0px 0px;
}
.footer .cblock{
  position: absolute;
  top: 0px;
  width: 360px;
  left: 319px;
}
.footer .okdecor{
  background: url('../img/logofoot.png') 0px 0px no-repeat;
  width: 92px;
  height: 30px;
  margin: 70px 0px 4px 135px;
}
.footer .cblock span{
  font-size: 15px;
  color: #a0eebf;
  text-shadow: 0 1px 1px rgba(0,0,0,.43);
  text-align: center;
  display: block;
  padding: 0px 0px 0px 17px;
}
.footer .cblock .icons{
  padding: 22px 0px 0px 50px;
}
.footer .cblock .icons a{
  margin: 0px 3px 0px 0px;
  display: block;
  width: 42px;
  height: 42px;
  float: left;
}
.footer .cblock .icons a.ico1{
  background: url('../img/soc/ico1.png') 0px 0px no-repeat;
}
.footer .cblock .icons a.ico2{
  background: url('../img/soc/ico2.png') 0px 0px no-repeat;
}
.footer .cblock .icons a.ico3{
  background: url('../img/soc/ico3.png') 0px 0px no-repeat;
}
.footer .cblock .icons a.ico4{
  background: url('../img/soc/ico4.png') 0px 0px no-repeat;
}
.footer .cblock .icons a.ico5{
  background: url('../img/soc/ico5.png') 0px 0px no-repeat;
}
.footer .cblock .icons a.ico6{
  background: url('../img/soc/ico6.png') 0px 0px no-repeat;
}
.footer .adr{
  width: 170px;
  position: absolute;
  top: 44px;
  right: 0px;
}
.footer .adr .locality {
  font-size: 17px;
}
.footer .vcard span {
  text-align: center;
  display: block;
  color: #a0eebf;
  text-shadow: 0 1px 1px rgba(0,0,0,.43);
}

.footer .adr .metro {
  font-size: 13px;
  font-weight: 600;
  padding: 0px 0px 0px 15px;
  line-height: 31px;
  background: url('../img/footermetro.png') no-repeat 25px 7px;
}

.footer .adr .street-address {
  font-size: 13px;
  font-weight: 600;
  line-height: 9px;
  padding: 0px 0px 0px 5px;
}
.footer .contact {
  position: absolute;
  top: 132px;
  right: 0px;
}
.footer .contact .tel {
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 0px;
  padding: 0px 0px 0px 6px;
}
.footer .contact .workhours {
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 15px;
  padding: 0px 0px 4px 3px;
}
.footer .contact a {
  display: block;
  width: 170px;
  height: 42px;
  background: url('../img/footerbtn.png') no-repeat;
  color: #0d545f;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  line-height: 39px;
  font-family: 'Roboto', sans-serif;
  margin-top: 8px;
  margin-left: 4px;
}

.indi{
  height: 649px;
}
.indibg{
  background: url('../img/indibg.jpg') no-repeat;
  position: absolute;
  width: 1920px;
  height: 658px;
  left: -460px;
  top: -9px;
}
.indi .indi-inner{
  position: relative;
}
.indi h1{
  text-align: center;
  color: #435452;
  font-size: 44px;
  font-weight: 300;
  letter-spacing: -1px;
  padding: 101px 0 0 0;
}
.indi .parts{
  text-align: center;
  padding: 88px 0 0 0;
  color: #425352;
  font-size: 16px;
  text-shadow: 0 1px 1px rgba(255,255,255,.28);
}
.indi .parts div{
  display: inline-block;
  *display:inline;
  zoom:1;
  width: 218px;
  vertical-align: top;
  padding: 145px 0 0 0;
}
.indi .parts .part1{
  background: url(../img/part1.png) no-repeat 45px 0;
}
.indi .parts .part2{
  background: url(../img/part2.png) no-repeat 45px 0;
}
.indi .parts .part3{
  background: url(../img/part3.png) no-repeat 45px 0;
}
.indi .parts span{
  font-weight: bold;
}
.free{
  height: 500px;
}
.free .lblock{
  width: 595px;
  height: 298px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #f8f8f5;
  -moz-box-shadow: 0px 2px 2px rgba(149,136,122,.53), inset 0 1px 1px #fff;
  -webkit-box-shadow: 0px 2px 2px rgba(149,136,122,.53), inset 0 1px 1px #fff;
  box-shadow: 0px 2px 2px rgba(149,136,122,.53), inset 0 1px 1px #fff;
  margin: 90px 0 0 0;
  float: left;
}
.free .lblock h2{
  font-size: 36px;
  font-weight: 300;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
  -moz-text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
  -webkit-text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
  text-align: center;
  padding: 10px 0 0 0;
}
.free .lblock .parts{
  background: url('../img/parts.png') no-repeat 25px 0;
  font-size: 15px;
  width: 550px;
  margin: 45px auto 0 auto;
  height: 145px;
  position: relative;
}
.free .lblock .parts div{
  position: absolute;
  top: 52px;
  text-align: center;
}
.free .lblock .parts .part1{
  left: 8px;
}
.free .lblock .parts .part2{
  left: 121px;
}
.free .lblock .parts .part3{
  left: 275px;
}
.free .lblock .parts .part4{
  left: 440px;
}
.free .lblock .parts span{
  font-weight: 600;
  color: #38847d;
  font-size: 16px;
}
.free .rblock, .watch .rblock, .freeconsult .rblock, .modal.rblock{
  width: 320px;
  height: 298px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #f8f8f5;
  -moz-box-shadow: 0px 2px 2px rgba(149,136,122,.53), inset 0 1px 1px #fff;
  -webkit-box-shadow: 0px 2px 2px rgba(149,136,122,.53), inset 0 1px 1px #fff;
  box-shadow: 0px 2px 2px rgba(149,136,122,.53), inset 0 1px 1px #fff;
  margin: 90px 0 0 0;
  float: right;
}
.modal.rblock{
  display: none;
}
.rblock .rblockheader{
  height: 47px;
  background: #8cddd4;
  display: block;
  color: #38847d;
  font-size: 16px;
  font-weight: 600;
  line-height: 47px;
  text-align: center;
  text-shadow: 0px 1px 1px rgba(188, 247, 241, 0.67);
  margin: 0 0 22px 0;
}
.rightform input[type=text]{
  height: 40px;
  outline: none;
  border: none;
  width: 210px;
  height: 40px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: rgba(220,205,185,.41);
  -moz-box-shadow: 0 1px 1px rgba(255,255,255,.75), inset 0 1px 3px rgba(118,108,100,.38), inset 0 0 2px rgba(227,221,215,.75);
  -webkit-box-shadow: 0 1px 1px rgba(255,255,255,.75), inset 0 1px 3px rgba(118,108,100,.38), inset 0 0 2px rgba(227,221,215,.75);
  box-shadow: 0 1px 1px rgba(255,255,255,.75), inset 0 1px 3px rgba(118,108,100,.38), inset 0 0 2px rgba(227,221,215,.75);
  padding: 0 0 0 61px;
  display: block;
  margin: 0 auto 5px auto;
}
.rightform input[type=text]:focus{
  height: 36px;
  border: 2px solid #f5bd0f;
  background-color: rgba(255,255,255,.41);
  background-position: -1px -5px;
  box-shadow: none;
}
.rightform input[type=text].error{
  height: 36px;
  border: 2px solid #f5450f;
  background-color: rgba(255,255,255,.41);
  background-position: -1px -5px;
  box-shadow: none;
}
.rightform .username{
  background: url('../img/name.png') no-repeat;
  background-position: -1px -3px;
}
.rightform .phone{
  background: url('../img/phone.png') no-repeat;
  background-position: -1px -3px;
}
.rightform input[type=submit]{
  width: 271px;
  height: 40px;
  cursor: pointer;
}
.rblock .fz12{
  font-size: 12px;
  color: #4c493f;
  text-align: center;
  padding: 14px 0 0 0;
  line-height: 18px;
  display: block;
}
.rblock .fz12 a{
  color: #4c493f;
}
.modal.rblock .fz13{
  font-size: 13px;
  color: #3b3530;
  text-align: center;
  display: block;
  padding-bottom: 15px;
}
.modal.rblock .rblockheader{
  margin: 0 0 13px 0;
}
.modal.rblock .fz12{
  padding: 20px 0 0 0;
}
.gardini{
  height: 516px;
}
.gardini .gardinibg{
  background: url('../img/gardinibg.jpg') no-repeat;
  width: 1920px;
  height: 516px;
  position: absolute;
  left: -460px;
  top: 0;
}
.gardini .wrapper{
  padding: 82px 0 0 0;
}
.gardini .gardini-inner{
  width: 660px;
  height: 349px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;
  -moz-box-shadow: 2px 4px 4px rgba(149,136,122,.53), inset 0 1px 1px #fff;
  -webkit-box-shadow: 2px 4px 4px rgba(149,136,122,.53), inset 0 1px 1px #fff;
  box-shadow: 2px 4px 4px rgba(149,136,122,.53), inset 0 1px 1px #fff;
  position: relative;
  margin: 0 auto;
  border-top: 6px solid #a3f0e7;
  text-align: center;
}
.gardini .gardini-inner .action{
  background: url('../img/action.png') no-repeat;
  width: 94px;
  height: 20px;
  display: block;
  margin: 16px auto 0 auto;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  color: #f8f30d;
  text-align: center;
}
.gardini .gardini-inner h2{
  font-size: 36px;
  font-weight: 300;
}
.gardini .gardini-inner .fz16{
  font-size: 16px;
  font-weight: 600;
  color: #38847d;
  display: block;
  line-height: 19px;
}
.gardini .gardini-inner .left{
  font-size: 16px;
  font-weight: 600;
  color: #3b3530;
  display: block;
  padding: 17px 0 10px 0;
}
.gardini .gardini-inner .order{
  width: 384px;
  height: 35px;
  line-height: 35px;
  cursor: pointer;
  text-decoration: none;
}
.gardini .gardini-inner .order .old{
  text-decoration: line-through;
  font-size: 13px;
  padding-left: 8px;
}
.ideal{
  height: 1124px;
}
.ideal h2{
  font-size: 36px;
  font-weight: 300;
  text-align: center;
  padding: 84px 0 56px 0;
  line-height: 47px;
}
.ideal .konsult{
  width: 319px;
  height: 521px;
  float: right;
  background: url('../img/concult.jpg') no-repeat;
  position: relative;
}
.ideal .idealblock{
  width: 320px;
  height: 250px;
  float: left;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;
  -moz-box-shadow: 1px 2px 3px rgba(149,136,122,.57), inset 0 1px 1px #fff;
  -webkit-box-shadow: 1px 2px 3px rgba(149,136,122,.57), inset 0 1px 1px #fff;
  box-shadow: 1px 2px 3px rgba(149,136,122,.57), inset 0 1px 1px #fff;
  margin: 0 20px 19px 0;
  font-size: 15px;
  position: relative;
  overflow: hidden;
}
.ideal .idealblock.no-margin{
  margin: 0 0px 19px 0;
}
.ideal .idealblock .subject{
  position: absolute;
  text-align: center;
  display: block;
  width: 100%;
  bottom: 16px;
}
.ideal .idealblock .hover{
  background: url('../img/ideal/item-hover.png') no-repeat;
  width: 320px;
  height: 250px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
.ideal .idealblock .button{
  width: 180px;
  height: 40px;
  position: absolute;
  text-align: center;
  left: 67px;
  bottom: 117px;
  text-decoration: none;
  line-height: 40px;
  display: none;
}
.ideal .idealblock:hover .hover{
  display: block;
}
.ideal .idealblock:hover .button{
  display: block;
}
.ideal .idealblock:hover{
  background: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border-radius:5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.ideal .konsult .fz16{
  font-size: 16px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.31);
  color: #fff;
  display: block;
  font-weight: 600;
  text-align: center;
  padding: 48px 0 9px 0;
}
.ideal .konsult .fz14{
  font-size: 14px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.31);
  color: #fff;
  display: block;
  text-align: center;
}
.ideal .konsult .button{
  width: 271px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  position: absolute;
  bottom: 22px;
  left: 24px;
}
.steps .zigzag{
  width: 100%;
  height: 11px;
  position: absolute;
  top: 13px;
  left: 0px;
  background: url('../img/zigzag.png') repeat-x 0px 0px;
  z-index: 2;
}
.thousandwork h2{
  padding: 90px 0px 9px 0px;
}
.thousandwork .ourworks{
  display: block;
  text-align: center;
  font-size: 15px;
  padding-bottom: 75px;
}

.thousandwork .idealblock{
  width: 235px;
  height: 250px;
  display: inline-block;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;
  -moz-box-shadow: 0 2px 3px rgba(149,136,122,.57), inset 0 1px 1px #fff;
  -webkit-box-shadow: 0 2px 3px rgba(149,136,122,.57), inset 0 1px 1px #fff;
  box-shadow: 0 2px 3px rgba(149,136,122,.57), inset 0 1px 1px #fff;
  margin: 0 0px 12px 0;
  font-size: 15px;
  position: relative;
  overflow: hidden;
}
.thousandwork .idealblock .hover {
  background: url('../img/portfolio.png') no-repeat;
  width: 235px;
  height: 250px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
.thousandwork .idealblock:hover .hover{
  display: block;
}
.thousandwork .idealblock span{
  display: block;
  text-align: center;
  padding: 8px 0px 0px 0px;
}

.thousandwork .sample{
  width: 235px;
  height: 250px;
  display: inline-block;
  position: relative;
  margin: 0 0px 12px 0;
  -moz-box-shadow: 0 2px 3px rgba(149,136,122,.57);
  -webkit-box-shadow: 0 2px 3px rgba(149,136,122,.57);
  box-shadow: 0 2px 3px rgba(149,136,122,.57);
}
.thousandwork .sample div{
  position: absolute;
  bottom:0px;
  left: 0px;
  background: url('../img/sample.png') no-repeat;
  width: 235px;
  height: 313px;
}
.happyclient h2 {
  padding-top: 88px;
  padding-bottom: 62px;
}
.hreview{
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
  vertical-align: top;
  width: 318px;
  height: 406px;
  position: relative;
  display: inline-block;
  margin-bottom: 27px;
  -moz-box-shadow: 0 2px 3px rgba(149,136,122,.57);
  -webkit-box-shadow: 0 2px 3px rgba(149,136,122,.57);
  box-shadow: 0 2px 3px rgba(149,136,122,.57);  
}
.reviewer{
  background: url('../img/gal.png') no-repeat 15px 21px;
  display: block;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 29px 0px 0px 52px;
}

.hreview .description{
  color: #3a3530;
  font-size: 15px;
  display: block;
  padding: 9px 2px 0px 54px;
  text-align: left;
  line-height: 19px;

}
.otziv1 .reviewer{
  color: #66834e;
}
.otziv2 .reviewer{
  color: #7b7158;
}
.otziv3 .reviewer{
  color: #5d8c87;
}
.hreview .view{
  display: block;
  width:318px;
  position: absolute;
  bottom: 0px;
  height: 40px;
  color: #273a37;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
}

.otziv1{
  background: #c8e8b1;
}
.otziv2{
  background: #efe3bb;
}
.otziv3{
  background: #bee9e4;
}
.hidefoto{
  -moz-box-shadow: 0 2px 3px rgba(149,136,122,.57), inset 0 1px 1px #fff;
  -webkit-box-shadow: 0 2px 3px rgba(149,136,122,.57), inset 0 1px 1px #fff;
  box-shadow: 0 2px 3px rgba(149,136,122,.57), inset 0 1px 1px #fff;
  height: 231px;
  overflow: hidden;
}

.fullcat{
  height: 941px;
  background: url('../img/fullcatbg.jpg');
  position: relative;
}
.fullcat .topimg{
  background: url('../img/stezhok.png') repeat-x;
  height: 3px;
  position: absolute;
  top: 3px;
  width: 100%;
}
.fullcat .botimg{
  background: url('../img/stezhok.png') repeat-x;
  height: 3px;
  position: absolute;
  bottom: 3px;
  width: 100%;
}
.fullcat h2{
  padding: 62px 0 33px 0;
}
.fullcat .macbook{
  width: 1223px;
  height: 694px;
  background: url('../img/macbook.png') no-repeat;
  position: absolute;
  left: -112px;
}
.fullcat .macbook .part{
  width: 134px;
  height: 83px;
  position: absolute;
  font-family: "Roboto";
  font-size: 14px;
  left: 198px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -1px;
  font-weight: 500;
  padding: 51px 0 0 0;
  line-height: 16px;
}
.fullcat .macbook .part1{
  background: url('../img/part21.png');
  color: #395c1b;
  top: 112px;
}
.fullcat .macbook .part2{
  background: url('../img/part22.png');
  top: 261px;
  color: #5e5032;
  padding-top: 45px;
  height: 89px;
}
.fullcat .macbook .part3{
  background: url('../img/part23.png');
  top: 413px;
  color: #1c5c56;
}
.fullcat .rightblock{
  width: 287px;
  position: absolute;
  right: 144px;
  top: 40px;
  text-align: center;
}
.fullcat .rightblock .fz20{
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  display: block;
  text-shadow: 1px 1px 2px rgba(52,89,85,0.43);
  padding: 39px 0 6px 0;
}
.fullcat .rightblock .fz14{
  font-size: 14px;
  display: block;
}
.fullcat .rightblock .fz13{
  font-size: 13px;
  display: block;
  color: #283433;
  font-family: "Roboto";
  padding: 14px 0;
}
.fullcat .rightblock form{
  padding: 245px 0 0 0;
}
.fullcat .rightblock input[type=text]{
  width: 193px;
  height: 43px;
  margin-bottom: 9px;
  color: #fff;
  box-shadow: none;
}
.fullcat .rightblock input[type=text]::-webkit-input-placeholder{
  color: #fff;
}
.fullcat .rightblock input[type=text]:-moz-placeholder{
  color: #fff;
}
.fullcat .rightblock input[type=text]::-moz-placeholder{
  color: #fff;
}
.fullcat .rightblock input[type=text]:-ms-input-placeholder{
  color: #fff;
}
.fullcat .rightblock .email{
  background: url('../img/email.png');
}
.fullcat .rightblock .phone{
  background: url('../img/phoneb.png') no-repeat 1px 0;
}
.fullcat .rightblock .phone:focus{
  background-position: 1px -50px;
  border:none;
  height: 43px;
}
.fullcat .rightblock input[type=submit]{
  width: 249px;
  height: 40px;
}
.zakazunas{
  height: 744px;
  background: #fff;
  position: relative;
}
.zakazunas h2{
  padding: 100px 0 51px 0;
}
.zakazunas .part{
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 318px;
  margin: 0 17px 41px 0;
  font-size: 14px;
  color: #393838;
  vertical-align: top;
}
.zakazunas .part.last{
  margin: 0 0px 0 0;
}
.zakazunas .part span{
  font-size: 20px;
  color: #1b7f85;
  display: block;
  min-height: 55px;
  padding: 0 0 20px 76px;
}
.zakazunas .part div{
  line-height: 21px;
}
.zakazunas .part1 span{
  background: url('../img/zakazunas/part1.png') no-repeat;
}
.zakazunas .part2 span{
  background: url('../img/zakazunas/part2.png') no-repeat 0px 6px;
}
.zakazunas .part3 span{
  background: url('../img/zakazunas/part3.png') no-repeat 0px 5px;
}
.zakazunas .part4 span{
  background: url('../img/zakazunas/part4.png') no-repeat;
}
.zakazunas .part5 span{
  background: url('../img/zakazunas/part5.png') no-repeat 0px 5px;
}
.zakazunas .part6 span{
  background: url('../img/zakazunas/part6.png') no-repeat 0px 3px;
}
.zakazunas .parts{
  background: #ecebe2 url('../img/zakazunas/bg.png') repeat-x 0px 9px;
  height: 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.desision{
  position: relative;
  height: 915px;
  background: url('../img/desisionbg.jpg');
  text-align: center;
}
.desision .botimg{
  background: url('../img/blueline.png') 0px 0px repeat-x;
  height: 12px;
  position: absolute;
  bottom:0px;
  width:100%;
}
.desision h2{
  padding: 81px 0 52px;
}
.desision .tarif{
  width: 320px;
  background: #eff8f8;
  height: 518px;
  display: inline-block;
  vertical-align: top;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 1px 2px 3px rgba(149,136,122,.57), inset 0 1px 1px #fff;
  -webkit-box-shadow: 1px 2px 3px rgba(149,136,122,.57), inset 0 1px 1px #fff;
  box-shadow: 1px 2px 3px rgba(149,136,122,.57), inset 0 1px 1px #fff;
  color: #3b3530;
  font-size: 15px;
}
.desision .tarif3{
  margin: 34px 0 0 0;
  border-top: 6px #cfd1f8 solid;
}
.desision .tarif1{
  margin: 34px 0 0 0;
  border-top: 6px #e2ebcf solid;
}
.desision .tarif2{
  height: 582px;
  border-top: 6px #caefbf solid;
}
.desision .tarif .head{
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  display: block;
  margin: 0 1px;
  height: 69px;
  line-height: 69px;
  margin-bottom: 30px;
}
.desision .tarif1 .head{
  color: #686054;
  border-bottom: 1px solid #d9ecd8;
  display: block;
  background: url('../img/star.png') no-repeat 220px 26px;
  padding-right: 18px;
}
.desision .tarif2 .head{
  color: #4e8840;
  border-bottom: 1px solid #c7edcb;
  height: 74px;
  line-height: 74px;
  background: url('../img/stars.png') no-repeat 191px 4px;
  padding-right: 94px;
  margin-bottom: 55px;
}
.desision .tarif3 .head{
  color: #7669a7;
  border-bottom: 1px solid #dae5f5;
  background: url('../img/3stars.png') no-repeat 194px 27px;
  padding-right: 82px;
  margin-bottom: 27px;
}
.desision .tarif ul li{
  background: url('../img/galka.png') no-repeat 0px 10px;
  text-align: left;
  line-height: 29px;
  padding-left: 20px;
}
.desision .tarif ul{
  margin: 0 15px 0 27px;
}
.thousandwork{
  height: 840px;
  position: relative;
}
.morebottom{
  background: url('../img/morebottom.png') repeat-x 0px 0px;
  position: absolute;
  bottom: -1px;
  left: 0px;
  width: 100%;
  height: 3px;
  z-index: 2;
}
.steps{
  position: relative;
  height: 700px;
}
.stepsbg{
  background: url('../img/steps.jpg') no-repeat 0px 0px;
  position: absolute;
  height: 700px;
  width:1920px;
  left:-460px;
  z-index: 1;
}
.happyclient{
  height: 1117px;
}
.watch{
  position: relative;
  background: url('../img/bg4.jpg') repeat 0px 0px;
  height: 580px;
}
.videotop{
  background: url('../img/videotop.png') repeat-x 0px 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 3px;
  z-index: 2;
}
.desision .tarif .all{
  height: 35px;
  background: #e1e5d7;
  display: block;
  margin: 0 auto;
  line-height: 35px;
}
.desision .tarif2 .all{
  background: #e1e5d7;
  width: 260px;
  margin: 0px auto 19px auto;
}
.desision .tarif3 .all{
  background: #cdeacd;
  width: 275px;
  margin: 0px auto 19px auto;
}
.desision .tarif .plus{
  display: block;
  width: 14px;
  height: 15px;
  margin: 0 auto 6px auto;
}
.desision .tarif2 .plus{
  background: url('../img/plus.png');
}
.desision .tarif3 .plus{
  background: url('../img/plus2.png');
  margin: 0 auto 5px auto;
}
.desision .tarif .price{
  display: block;
  font-size: 24px;
  margin: 43px 0 18px 0;
}
.desision .tarif .price i{
  font-size: 22px;
}
.desision .tarif1 .price{
  margin: 106px 0 27px 0;
}
.desision .tarif2 .price{
  margin: 69px 0 21px 0;
}
.desision .tarif .ordertarif{
  display: block;
  width: 251px;
  height: 43px;
  margin: 0 auto;
  background: url('../img/tarifbtn.png') no-repeat;
  line-height: 40px;
  text-decoration: none;
  font-size: 16px;
  text-shadow: 0 1px 0 rgba(199,177,255,.67);
  color: #273a38;
}
.desision .tarif1 .ordertarif{
  background-position: 0 0;
}
.desision .tarif2 .ordertarif{
  background-position: -259px 0;
  width: 257px;
}
.desision .tarif3 .ordertarif{
  background-position: -525px 0;
}
.desision .tarif .ordertarif:hover{
  background-position-y: -50px;
}
.desision .tarif .order:active{
  background-position-y: -100px;
}
.desision .tarif .ordertarif.lock{
  background-position-y: -150px;
}
.steps .stepimg{
  background: url('../img/steps.png') no-repeat;
  width: 1011px;
  height: 374px;
  position: absolute;
  left: -5px;
}
.steps .step{
  position: absolute;
  font-size: 14px;
  color: #3b3530;
  text-align: center;
  line-height: 20px;
}
.steps .step span{
  font-size: 16px;
  color: #1b7f85;
  font-weight: 600;
  display: block;
  line-height: 19px;
  padding-bottom: 7px;
}
.steps h2{
  padding: 74px 0 44px 0;
}
.steps .step1{
  left: 16px;
  top: 457px;
}
.steps .step2{
  top: 206px;
  left: 227px;
}
.steps .step3{
  left: 420px;
  top: 457px;
}
.steps .step4{
  top: 222px;
  left: 620px;
}
.steps .step5{
  left: 826px;
  top: 457px;
}
.watch h2{
  padding: 55px 0 58px 0;
}
.watch .rblock{
  margin: 0;
}
.watch .arrow, .free .arrow{
  position: absolute;
  display: block;
  background: url('../img/arrow.png') no-repeat;
  width: 31px;
  height: 21px;
  left: 567px;
  top: 342px;
}
.free .arrow{
  left: 623px;
  top: 223px;
}
.dlya h2{
  padding: 48px 0 44px 0;
}
.map {
  height: 649px;
}
.freeconsult{
  border-top: 6px solid #9febe1;
  height: 620px;
}
.freeconsult .peoplebg{
  background: url('../img/freeconsultbg.jpg') no-repeat;
  width: 1920px;
  height: 620px;
  position: absolute;
  left: -460px;
  top: 0px;
}
.freeconsult h2{
  text-align: left;
  padding: 50px 0 0 0;
}
.freeconsult .rblock{
  float: left;
  margin: 58px 0 0 0;
}
.faq{
  height: 407px;
  background: #fff;
}
.faq .how{
  display: inline-block;
  *display: inline;
  zoom:1;
  vertical-align: top;
  width: 315px;
  margin-left: 20px;
  color: #3b3530;
  font-size: 14px;
  margin-top: 70px;
}
.faq .how:first-child{
  margin-left: 0;
}
.faq .how h3{
  color: #1b7f85;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  padding-bottom: 17px;
}
.faq .how .more{
  font-size: 13px;
  color: #1b7f85;
  padding-top: 3px;
  display: block;
}
#map{
  width:100%;
  height: 649px;
}